.toggle {
    cursor: pointer;
}

.tooltip {
  display: block;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  opacity: 0;
}
.visible {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  opacity: 1;
}

.choice {
  cursor: default;
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.choice:hover {
  fill: #A6192E
}

.inform {
  cursor: help;
}
